*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #43AFFC;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white;
    width: 380px;
    padding: 20px 0;
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #142b37;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.color{
    height: 200px;
    width: 92%;
    background-color: black;
    border-radius: 5px;
}
.wrapper{
    width: 100%;
    text-align: center;
}
input{
    width: 80%;
    margin-left: 10px;
    margin-top: 20px;
}
span{
    text-align: center;
    margin: 10px 0 20px 0;
    background-color: #43AFFC;
    color: white;
    padding: 10px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    letter-spacing: 0.5px;
    border-radius: 3px;
    cursor: pointer;
}
.copied::before{
    content: "copied";
    color: white;
    background-color: gray;
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 15px;
    display: none;
}
.copied::after{
    content: "";
    position: absolute;
    top: 79.5%;
    right: 49%;
    width: 10px;
    height: 10px;
    background-color: gray;
    transform: rotate(45deg);
    display: none;
}
.copied.active::before,
.copied.active::after{
    display: block;
}